-# Introduction
.slide
  .row.text-center
    %h1 Ruby On Rockets
    %h3
      %em Spencer Dixon
    .title-jumbo
      %div
        %i.fa.fa-diamond.fa-3x
        .rocket
          %span
            %i.fin-top
            %i.fin-bottom
            %i.faya
            %i.wastes
              %i
              %i
              %i
              %i
              %i

.slide
  .row.text-center
    %h1 Goals

  .row
    .col-md-8.col-md-offset-2
      %ul
        %li Review Basic HTTP
        %li Introduction to Rack and middleware
        %li Build a Sinatra clone called Rocket

.slide
  .row.text-center
    %h1 Why?

  .row
    .col-md-8.col-md-offset-2
      %ul
        %li.slide Learning HTTP == High Leverage
        %li.slide Write better Web apps
        %li.slide Debug a lot quicker

-# Part One

.slide
  .row.text-center
    %h1 Part 1 - HTTP Basics & Review

  .row
    .col-md-8.col-md-offset-2
      %ul
        %li.slide What is a URL?
        %ul
          %li.slide Uniform <span class='red'>Resource</span> Locator <small>(don't need to memorize)</small>
          %li.slide What are some examples of Resources?
          %ul.slide
            %li Images
            %li Files
            %li Videos
            %li Pages of HTML
            %li CSS
            %li JS

.slide
  .row.text-center
    %h3 Part 1 - HTTP Basics & Review

  .row.text-center
    %h1.slide
      %span.scheme https://
      %span.host github.com/
      %span.url-path SpencerCDixon

  .row.m20
    .col-md-8.col-md-offset-2
      .slide
        .circle.red-background
        %h3.inline URL Scheme: http vs. https
        %p.small.slide What are some other Schemes you've seen?

      .slide
        %br
        .circle.black-background
        %h3.inline Host Name: often multiple website on one server

      .slide
        %br
        .circle.gray-background
        %h3.inline Url Path: where to find resource






