<section class="slide">
  <div class="row text-center">
    <div class="title-jumbo">
      <p>
      <i class="fa fa-diamond fa-5x"></i>
      ON
      <i class="fa fa-rocket fa-5x"></i>
      'S
      </p>
    </div>
    <div class="rocket">
  <span>
    <i class="fin-top"></i>
    <i class="fin-bottom"></i>
    <i class="faya"></i>
    <i class="wastes"><i></i><i></i><i></i><i></i><i></i></i>
  </span>
</div>
  </div>
</section>

<section class="slide">
  <div class="row text-center">
    <h1>HTTP & Rack</h1>
  </div>

  <div class="row">
    <h2 class="text-center">Why is HTTP so important to learn?</h2>
    <div class="col-md-8 col-md-offset-2">
      <ul>
        <li class="slide">Write better web applications</li>
        <li class="slide">Debug faster</li>
        <li class="slide">Care about your craft</li>
      </ul>
    </div>
  </div>
</section>


<section class="slide">
  <div class="row text-center">
    <h1>Building A Rack Application</h1>
  </div>

  <p>Paragraph of text here</p>

  <div class="row">
    <div class="col-md-6">
      <pre>
        <code class="ruby">
          def find_route(env)
            path = env["PATH_INFO"]

            route = router.find do |route|
              route[:path] == path
            end

            route || false
          end
        </code>
      </pre>
    </div>

    <div class="col-md-6">
      <pre>
        <code class="ruby">
          def find_route(env)
            path = env["PATH_INFO"]

            route = router.find do |route|
              route[:path] == path
            end

            route || false
          end
        </code>
      </pre>
    </div>
  </div>
</section>
